@font-face {
  font-family: "Black";
  src: local("Lato-Black"), url("./fonts/Lato-Black.ttf") format("truetype");
}
@font-face {
  font-family: "BlackItalic";
  src: local("Lato-BlackItalic"),
    url("./fonts/Lato-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Bold";
  src: local("Lato-Bold"), url("./fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "BoldItalic";
  src: local("Lato-BoldItalic"),
    url("./fonts/Lato-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Italic";
  src: local("Lato-Italic"), url("./fonts/Lato-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Light";
  src: local("Lato-Light"), url("./fonts/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: "LightItalic";
  src: local("Lato-LightItalic"),
    url("./fonts/Lato-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Regular";
  src: local("Lato-Regular"), url("./fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Thin";
  src: local("Lato-Thin"), url("./fonts/Lato-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "ThinItalic";
  src: local("Lato-ThinItalic"),
    url("./fonts/Lato-ThinItalic.ttf") format("truetype");
}
